<%- include('../layouts/inc/functions.ejs'); -%>
    <!-- https://hoangsi.com/ -->
    <!DOCTYPE html>
    <html lang='en'>

    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/users.css">
        <link rel="shortcut icon" href="<%= get_admin_url(); %>/images/favicon.ico" type="image/x-icon" />
        <title>Password Reset</title>
    </head>

    <body>
        <div class="container" id="wrap">
            <div id="wrap_cont">
                <div class="panel col-md-4 col-md-offset-4">
                    <div class="panel-body">
                        <form id="change_password_reset" action="/password_reset?_method=PUT&key=<% if(key) { %><%= key  %><% } %>" method="post" ref="form">
                            <div class="errors" v-if="errors.length">
                                <p>Please correct the following error(s):</p>
                                <ul>
                                    <li v-for="error in errors">
                                        <small>{{ error }}</small>
                                    </li>
                                </ul>
                                <hr style="margin: 10px 0;">
                            </div>
                            <div class="form-group">
                                <small>Password must contain one uppercase and lowercase letter, one number, and be at least 6 characters
                                    long.
                                </small>
                                <hr style="margin: 10px;">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" v-model="password" v-focus autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm password</label>
                                <input type="password" class="form-control" name="confirm_password" v-model="confirm_password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" v-on:click="submit_change_password">Change password</button>
                            </div>
                            <small>
                                Return to
                                <a href="/signin">Sign in</a>
                            </small>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="<%= get_admin_url(); %>/js/vue.min.js"></script>
        <script>
            Vue.directive('focus', {
                inserted: function (el) { el.focus(); }
            });
            var change_password_reset = new Vue({
                el: '#change_password_reset',
                data: {
                    password: null,
                    confirm_password: null,
                    errors: []
                },
                methods: {
                    submit_change_password: function () {
                        this.errors = [];
                        if (!this.password) {
                            this.errors.push("Password required.");
                        } else if (!this.valid_password(this.password)) {
                            this.errors.push("Password must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters.");
                        }
                        if (!this.confirm_password) {
                            this.errors.push("Confirm password required.");
                        } else if (this.confirm_password != this.password) {
                            this.errors.push("Password confirmation doesn't match the password.");
                        }
                        if (!this.errors.length) this.$refs.form.submit();
                    },
                    valid_password: function (password) {
                        var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
                        return re.test(password);
                    }
                }
            })

        </script>
    </body>

    </html>